@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


html {
    scroll-behavior: smooth;
}

:root {
    --white-clrL: #fff;
    --black-clr: #000;
    --light-black: #333;
    --primary-clr: #e6303d;
    --secondary-clr: #eee;
    --tag-clr: #7cc576;

}

/* basic styling */

li {
    list-style: none;

}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transfrom, 3s, ease-in-out;
    background-color: transparent;


}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 80%;
    margin: auto;
}

.section {
    padding-top: 4rem;
}

a:hover {
    color: var(--primary-clr);
}

.wrap {
    flex-wrap: wrap;
}

.secondary-bg {
    background: var(--secondary-clr);
    padding-block: 2.2rem;
}

/* Navbar styling */

header {
    background: var(--white-clrL);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 5px 15px .75px rgb(36, 11, 12, 0.5);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--light-black);
}

.link {
    font-size: .95rem;
    color: var(--light-black);
    text-transform: uppercase;
    font-weight: 500;
}


.icon {
    font-size: .9rem;
    color: var(--light-black);
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

.icon:hover,
.icon-active {
    background: var(--secondary-clr);
    color: var(--primary-clr);
}

span,
.link-active {
    color: var(--primary-clr);
}

.navbar {
    height: 12vh;
    justify-content: space-between;
}

.navlist {
    gap: 2.5rem;
}

.nav-icons {
    gap: .8rem;
}

.hamburger {
    font-size: 1.7rem;
    color: var(--primary-clr);
    display: none;
}

/* Section styling */

.hero {
    height: 115vh;
    background-image: url("/images/hero2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    margin-top: 5rem;
}

.hero-content {
    /* background-color: #e6303d; */
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--light-black);
}

h4 {
    font-size: 1.4rem;
    line-height: 3.5rem;
    font-weight: 400;
    color: var(--light-black);
    margin-bottom: 1.5rem;
}

button {
    font-size: .9rem;
    font-weight: 600;
    padding: .8rem;
    text-transform: uppercase;
    color: var(--white-clrL);
    background: var(--primary-clr);
    transition: all ss ease-in-out;
}

button:hover {
    background: var(--light-black);
}


.category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.7rem;
}

.category:nth-child(1),
.category:nth-child(4) {
    grid-row: 1/3;
    
    
}


.category:nth-child(2){
    grid-row: 1/2;

}

.category {
    position: relative;
    overflow: hidden;
    
}

.category button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    background: var(--white-clrL);
    color: var(--light-black);
    z-index: 3;
}

.category button:hover {
    background: var(--primary-clr);
    color: var(--white-clrL);
}

.category:hover img {
    transform: scale(1.1);
    transition: all .5s ease-out;
}

.category::before {
    content: '';
    position: absolute;
    background-color: var(--black-clr);
    width: 0;
    height: 100%;
    opacity: .2;
    z-index: 2;
    transition: all .3s ease-out;
}

.category:hover::before {
    width: 100%;
}

/* New Product section */

h2 {
    font-size: 2rem;
    line-height: 4rem;
    color: var(--light-black);
    font-weight: 500;
    text-align: center;
}

.line {
    background: var(--primary-clr);
    height: 2.5px;
    width: 60px;
    margin: auto;
}

.card-container {

    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}

.card {
    position: relative;
    border-right: 1px solid #efefef;
    flex: 1;
    padding-block: 3.1rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, .15);
    z-index: 3;
}

.card-content {
    padding: 0.3rem;
}

.title {
    font-size: 1rem;
    color: var(--light-black);
    line-height: 1.7rem;
    font-weight: 500;
}

.price {
    margin-top: 1rem;
}

del {
    color: #c5c5c5;
}

.amount {
    font-size: 1.1rem;
    font-weight: 600;
}

.add-to-cart {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;

}

.card:hover .add-to-cart {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.sale::before,
.new::before {
    content: 'Sale';
    position: absolute;
    top: 20px;
    left: 20px;
    padding: .2rem 1.3rem;
    color: var(--white-clrL);
    font-weight: 400;
}

.new::before {
    content: 'New';
    background: var(--tag-clr);
}

.sale::before {
    content: 'sale';
    background: var(--primary-clr);
}

.sale-container {
    padding-block: 5rem;
    text-align: center;
    background-image: url("/images/hero5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sale-container h3 {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.6rem;
    text-transform: uppercase;
}

.sale-container h1 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.7rem;
}

.line {
    width: 15%;
    background: #c5c5c5;
}

.sale-container h4 {
    font-size: 1.2rem;
    color: #6e6e6e;
    line-height: 3.5rem;
}

.box {
    flex: 1;
    flex-basis: 200px;
    text-align: center;
    margin-block: 1rem;
}

.box .fa-solid {
    font-size: 1.5rem;
    color: var(--primary-clr);
}

h5 a {
    font-size: 1.1rem;
    color: var(--light-black);
    font-weight: 500;
    line-height: 2rem;
}

.des {
    color: #6e6e6e;
    font-size: .9rem;
    font-weight: 400;
}

.blog-container {
    margin-top: 3rem;
    gap: 2rem;
}

.blog-box {
    position: relative;
    flex: 1;
    flex-basis: 300px;
}

.blog-box::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: all .3s ease-in-out;
}

.blog-box:hover::before {
    width: 100%;
}

.blog-content {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 4;
    opacity: 0;
    padding-inline: 2rem;
    visibility: hidden;
    transition: all .3s ease-in-out;
    /* text-overflow: initial; */

}

.heading {
    font-size: 1.7rem;
    line-height: 4rem;
    font-weight: 400;
}

.blog-content * {
    color: var(--secondary-clr);
}

.blog-link {
    font-size: .9rem;
    font-weight: 600;
    line-height: 5rem;
    color: var(--primary-clr);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-transform: uppercase;
}

.blog-box:hover .blog-content {
    left: 50%;
    opacity: 1;
    visibility: visible;
}

form {
    gap: 3rem;

}

form h3 {
    font-size: 1.4rem;
}

.input-container {
    flex: 1;
    align-items: stretch;

}


#email {
    border: none;
    flex: 1;
    font-size: 1rem;
    padding-left: 1.1rem;

}

#email:focus {
    outline: none;
}

.social-icons {
    gap: 1.2rem;
    justify-content: flex-end;
}

.media {
    font-size: 1.2rem;
    color: var(--light-black);
}

/* footer here */

.footer-container{
    padding-bottom: 3rem;
}

.footer-list {
    flex: 1rem;
    padding-block: 1rem;
    flex-basis: 200px;

}

.footer-link {
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--light-black);
    line-height: 2.25rem;
}

.footer-logo {
    margin-bottom: 1rem;
}

.detail {
    font-size: .95rem;
    line-height: 1.75rem;
    color: #6e6e6e;
}

.footer-bottom {
    padding-block: .85rem;
    text-align: center;
    color: #6e6e6e;
    border-top:.065rem solid #ebebeb ;
    font-size: .9rem;
}





















































@media screen and (max-width:700px) {
    .navlist{
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--black-clr);
        padding: 2rem;
        transform: translateY(-100%);
        transition: all .3s ease-in-out;
    }

    .navlist-active{
         transform: translateY(20%);
    }
    .navlist .link{
        color: var(--secondary-clr);
        font-weight: 400px;

    }
    .nav-icons a,
    .line:hover,
    .navlist .link-active{
        color: var(--primary-clr);
    }
    .hamburger{
        display: block;
    }
    .conatiner{
        max-width: 95%;
    }
    .hero{
        height: 60vh;
    }

    h3{
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    h1{
        font-size: 2.2rem;
        line-height: 1.3rem;
    }
    h4{
        font-size: 1.1rem;
        line-height: 2rem;
    }
    .category{
        grid-template-columns: 1fr;
    }
    .category:nth-child(1),
    .category:nth-child(2),
    .category:nth-child(4){
        grid-row: auto;
    }
    
}